annotated-types
anyio
certifi
cffi
charset-normalizer
click
cryptography
dnspython
docker
ecdsa
email_validator
fastapi
gherkin-official
greenlet
h11
httpcore
httpx
idna
iniconfig
Mako
MarkupSafe
packaging
parse
parse_type
passlib
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
Pygments
pytest
pytest-bdd
pytest-mock
python-dotenv
python-jose
python-multipart
requests
rsa
six
sniffio
SQLAlchemy
starlette
testcontainers
typing_extensions
urllib3
uvicorn
wrapt
pdfplumber
google-generativeai>=0.5.2
